.blog {
  padding-top: 213px;

  .main-blog {
    padding-bottom: 50px;
    border-bottom: 1px solid #525252;
    .nameBlog {
      @include text($font-pn-l, #ffffff, 1.4rem, 400, uppercase, 19px);
      text-align: center;
      padding-bottom: 27px;
    }
    .titleBlog {
      @include text($font-pn-l, #ffffff, 4.2rem, 400, none, 63px);
      padding-bottom: 44px;
      text-align: center;
    }
    h1 {
      @include text($font-pn-bt, #ffffff, 4.2rem, 600, inherit, 63px);
      margin-bottom: 20px;
    }
    h2 {
      @include text($font-pn-bt, #ffffff, 3.4rem, 600, inherit, 54px);
      margin-bottom: 20px;
    }
    h3 {
      @include text($font-pn-bt, #ffffff, 3rem, 600, inherit, 45px);
      margin-bottom: 20px;
    }
    h4 {
      @include text($font-pn-bt, #ffffff, 2.6rem, 600, inherit, 39px);
      margin-bottom: 20px;
    }
    h5 {
      @include text($font-pn-bt, #ffffff, 2rem, 600, inherit, 30px);
      margin-bottom: 20px;
    }
    h6 {
      @include text($font-pn-bt, #ffffff, 1.6rem, 600, inherit, 24px);
      margin-bottom: 20px;
    }

    .thumb {
      img {
        width: 100%;
      }
    }
    img {
      height: auto;
      margin: auto;
      margin-bottom: 58px;
    }

    p {
      @include text($font-pn-l, #ffffff, 1.6rem, null, inherit, 28px);
      margin-bottom: 20px;
    }
    ul {
      list-style: disc;
      padding-left: 42px;
      padding-bottom: 10px;
      li {
        @include text($font-pn-l, #ffffff, 1.6rem, null, inherit, 28px);
        list-style-position: inside;
      }
    }
  }
  .back {
    display: block;
    margin: 50px 0 91px 0;
  }
}

@include xs {
  .blog {
    padding-top: 110px;
    .main-blog {
      padding-bottom: 36px;
      .nameBlog {
        padding-bottom: 0;
      }
      .titleBlog,
      h1 {
        font-size: 4rem;
        line-height: normal;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 12px;
      }
      ul {
        padding-left: 10px;
      }
    }
    .back {
      margin: 38px 0 58px 0;
    }
  }
}
