.blog {
  padding-top: 213px;
  .main-blog {
    padding-bottom: 50px;
    border-bottom: 1px solid #525252;
    .thumb {
      img {
        width: 100%;
      }
    }
    img {
      height: auto;
      margin: auto;
      margin-bottom: 58px;
    }
    h3 {
      @include text($font-pn-l, #ffffff, 1.4rem, 400, uppercase, 19px);
      text-align: center;
      padding-bottom: 27px;
    }
    h2 {
      @include text($font-pn-l, #ffffff, 4.2rem, 400, none, 63px);
      padding-bottom: 44px;
      text-align: center;
    }

    h4 {
      @include text($font-pn-eb, #ffffff, 3.6rem, 700, none, 174.5%);
      margin: 7px 0;
    }
    p {
      @include text($font-pn-l, #ffffff, 1.6rem, null, inherit, 28px);
      margin-bottom: 20px;
    }
    ul {
      list-style: disc;
      padding-left: 42px;
      padding-bottom: 10px;
      li {
        @include text($font-pn-l, #ffffff, 1.6rem, null, inherit, 28px);
        list-style-position: inside;
      }
    }

    .tag {
      h1 {
        @include text($font-pn-b, #ffffff, 4.2rem, 600, inherit, 63px);
      }
      h2 {
        @include text($font-pn-b, #ffffff, 3.4rem, 600, inherit, 54px);
        text-align: left;
        padding-bottom: 0px;
      }
      h3 {
        @include text($font-pn-b, #ffffff, 3rem, 600, inherit, 45px);
        text-align: left;
        padding-bottom: 0px;
      }
      h4 {
        @include text($font-pn-b, #ffffff, 2.6rem, 600, inherit, 39px);
        margin: 0px;
      }
      h5 {
        @include text($font-pn-b, #ffffff, 2rem, 600, inherit, 30px);
      }
      h6 {
        @include text($font-pn-b, #ffffff, 1.6rem, 600, inherit, 24px);
      }
    }
  }
  .back {
    display: block;
    margin: 50px 0 91px 0;
  }
}

@include xs {
  .blog {
    padding-top: 110px;
    .main-blog {
      padding-bottom: 36px;
      h2 {
        font-size: 2.8rem;
        line-height: 39px;
        padding-bottom: 30px;
      }
      h4 {
        font-size: 2.2rem;
        line-height: 111.5%;
        margin: 12px 0;
      }
      ul {
        padding-left: 10px;
      }
    }
    .back {
      margin: 38px 0 58px 0;
    }
  }
}
