.banner {
  height: 100vh;
  background: #161616;
  overflow: hidden;
  .container {
    height: 100%;
    position: relative;
  }
  &__content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 15px;
    max-width: 60%;
    transform: translateY(-50%);
    .des {
      padding: 35px 0 42px 0;
    }
  }
  &__img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 64%;
    img {
      width: 100%;
    }
  }
}

.news {
  padding-top: 85px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  .slider {
    padding-bottom: 50px;
  }
  &__items {
    padding-right: 24px;
    max-width: 35%;
    .img-main {
      height: 250px;
      width: 100%;
    }
    .text {
      @include text($font-pn-eb, #f0f0f0, 2rem, 600, null, 154.69%);
      letter-spacing: 0.01em;
      margin: 30px 0;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
}

.activities {
  h2 {
    text-align: center;
    letter-spacing: 0.2em;
    @include text($font-pn-extra, #f0f0f0, var(--fs-h1), 600, uppercase, 105px);
    opacity: 0.25;
  }
  .list {
    padding: 60px 0 140px 0;
  }
  &__items {
    display: flex;
    align-items: center;
    margin-top: -36px;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .content {
        padding-right: 75px;
        padding-left: 0;
      }
    }
    .content {
      padding-left: 75px;
      max-width: 620px;
      .title-act {
        @include text(
          $font-pn-b,
          #f0f0f0,
          var(--fs-title),
          600,
          capitalize,
          139.19%
        );
      }
      .des {
        padding: 20px 0;
        font-size: 1.6rem;
        line-height: 30px;
        opacity: 0.6;
      }
    }
  }
}

.partner {
  padding-bottom: 150px;
  &__main {
    background: #161616;
  }
  .title-section {
    text-align: center;
    padding-top: 104px;
    padding-bottom: 87px;
  }
  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .img-main {
      margin-bottom: 80px;
      &.--center {
        margin-left: 80px;
      }
    }
  }
}

.team {
  .container {
    display: flex;
    padding-bottom: 62px;
  }
  .title-section {
    width: 30%;
  }
  &__main {
    width: 70%;
    .list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 78px;
      .items {
        text-align: center;
        .avt {
          width: 183px;
          height: 183px;
          border-radius: 50%;
          margin: 0 auto 28px auto;
        }
        .name {
          letter-spacing: 0.01em;
          margin-bottom: 5px;
          @include text($font-pn-eb, #f0f0f0, 2rem, 600, uppercase, 154.69%);
        }
        .chapter {
          letter-spacing: 3px;
          opacity: 0.6;
          max-width: 241px;
          @include text($font-pn-b, #f0f0f0, 1.2rem, null, uppercase, 18px);
        }
      }
    }
  }
}

.collaborators {
  background: #00372d;
  padding: 130px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .title-section {
    width: 30%;
  }
  .wrap {
    position: relative;
    width: 60%;
    .block-arrows {
      position: absolute;
      z-index: 9;
      right: 0;
      top: 0;
      transform: translateY(50%);
    }
  }
  .items {
    .des {
      font-size: 1.6rem;
    }
    .head-info {
      display: flex;
      align-items: center;
      padding-bottom: 41px;
      .img-avt {
        width: 91px;
        height: 91px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 29px;
      }
      .name {
        letter-spacing: 0.01em;
        @include text($font-pn-eb, #f0f0f0, 2rem, 600, null, 154.69%);
      }
      .chapter {
        letter-spacing: 3px;
        @include text($font-pn-l, #f0f0f0, 1.2rem, 600, uppercase, 18px);
        opacity: 0.6;
      }
    }
  }
}

.contact {
  padding: 107px 0;
  .title-section {
    text-align: center;
    padding-bottom: 53px;
  }
  .des {
    max-width: 59%;
    margin: auto;
    @include text($font-pn-l, #f0f0f0, var(--fs-body), null, null, 30px);
    opacity: 0.6;
  }
}
