.banner {
  height: 100vh;
  background: #161616;
  overflow: hidden;
  .container {
    height: 100%;
    position: relative;
  }
  &__content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 15px;
    max-width: 60%;
    transform: translateY(-50%);
    .des {
      padding: 35px 0 42px 0;
    }
  }
  &__img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 64%;
    img {
      width: 100%;
    }
  }
}

.news {
  margin-top: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
  }
  &__items {
    padding-right: 24px;
    max-width: 35%;
    .img-main {
      height: 250px;
      width: 100%;
    }
    .text {
      @include text($font-pn-eb, #f0f0f0, 2rem, 600, null, 154.69%);
      letter-spacing: 0.01em;
      margin: 30px 0;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
}

.activities {
  h2 {
    text-align: center;
    letter-spacing: 0.2em;
    @include text($font-pn-extra, #f0f0f0, var(--fs-h1), 600, uppercase, 105px);
    opacity: 0.25;
  }
  .list {
    padding-top: 100px;
  }
  &__items {
    display: flex;
    align-items: center;
    margin-top: -36px;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .content {
        padding-right: 75px;
        padding-left: 0;
      }
    }
    .content {
      padding-left: 75px;
      max-width: 620px;
      .title-act {
        @include text(
          $font-pn-b,
          #f0f0f0,
          var(--fs-title),
          600,
          capitalize,
          139.19%
        );
      }
      .des {
        padding: 20px 0;
        font-size: 1.6rem;
        line-height: 30px;
        opacity: 0.6;
      }
    }
  }
}

.partner {
  &__main {
    background: #161616;
  }
  .title-section {
    text-align: center;
    padding-top: 104px;
    padding-bottom: 87px;
  }
  .list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    .img-main {
      margin-bottom: 80px;
      &.--center {
        margin-left: 80px;
      }
    }
  }
}

.team {
  .container {
    display: flex;
  }
  .title-section {
    width: 30%;
  }
  &__main {
    width: 70%;
    .list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 78px;
      overflow: hidden;
      .items {
        text-align: center;
        .avt {
          width: 183px;
          height: 183px;
          border-radius: 50%;
          margin: 0 auto 28px auto;
        }
        .name {
          letter-spacing: 0.01em;
          margin-bottom: 5px;
          @include text($font-pn-eb, #f0f0f0, 2rem, 600, uppercase, 154.69%);
        }
        .chapter {
          letter-spacing: 3px;
          opacity: 0.6;
          max-width: 241px;
          @include text($font-pn-b, #f0f0f0, 1.2rem, null, uppercase, 18px);
        }
      }
    }
  }
}

.collaborators {
  background: #00372d;
  padding: 125px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .title-section {
    width: 30%;
  }
  .wrap {
    position: relative;
    width: 60%;
    .block-arrows {
      position: absolute;
      z-index: 9;
      right: 0;
      top: 0;
      transform: translateY(50%);
    }
  }
  .items {
    .des {
      font-size: 1.6rem;
    }
    .head-info {
      display: flex;
      align-items: center;
      padding-bottom: 41px;
      .img-avt {
        width: 91px;
        height: 91px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 29px;
      }
      .name {
        letter-spacing: 0.01em;
        @include text($font-pn-eb, #f0f0f0, 2rem, 600, null, 154.69%);
      }
      .chapter {
        letter-spacing: 3px;
        @include text($font-pn-l, #f0f0f0, 1.2rem, 600, uppercase, 18px);
        opacity: 0.6;
      }
    }
  }
}

.contact {
  margin-bottom: 100px;
  .title-section {
    text-align: center;
    padding-bottom: 53px;
  }
  .des {
    max-width: 59%;
    margin: auto;
    @include text($font-pn-l, #f0f0f0, var(--fs-body), null, null, 30px);
    opacity: 0.6;
  }
}

.section {
  margin-bottom: 100px;
}
@include md {
  .heading {
    font-size: 3.2rem;
  }
  .title-section {
    font-size: 2.5rem;
  }
  .contact {
    .des {
      max-width: 100%;
    }
  }
  .team {
    &__main {
      .list {
        .items {
          .avt {
            width: 160px;
            margin: 0 auto 0px auto;
          }
          .name {
            font-size: 1.7rem;
          }
          .chapter {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@include sm {
  .section {
    margin-bottom: 60px;
  }
  .title-section {
    font-size: 2rem;
    line-height: 30px;
  }
  .heading {
    font-size: 2.2rem;
  }
  .banner {
    height: 40vh;
    min-height: 500px;
    &__content {
      max-width: 66%;
      .des {
        font-size: 1.5rem;
        padding: 12px 0 22px 0;
      }
    }
  }
  .activities {
    h2 {
      font-size: 5rem;
    }
    .list {
      padding-top: 60px;
    }
    &__items {
      margin-top: 0px;
      margin-bottom: 20px;
      .img-act {
        width: 35%;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .content {
          padding-right: 20px;
          padding-left: 0;
        }
      }
      .content {
        width: 65%;
        padding-left: 20px;
      }
    }
  }
  .partner {
    .title-section {
      padding: 50px 0;
    }
    .list {
      .img-main {
        margin-bottom: 50px;
        &.--last {
          width: 200px;
        }
      }
    }
  }
  .team {
    &__main {
      .list {
        .items {
          .avt {
            width: 100px;
            height: 120px;
          }
          .name {
            font-size: 1.2rem;
          }
          .chapter {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .collaborators {
    padding: 80px 0;
  }
}

@include xs {
  .section {
    margin-bottom: 30px;
  }
  .heading {
    font-size: 1.7rem;
  }
  .banner {
    min-height: 360px;
    &__content {
      padding-top: 50px;
      max-width: 80%;
      .des {
        font-size: 1.2rem;
      }
    }
    &__img {
      width: 85%;
    }
  }
  .news {
    margin-top: 40px;
    .container {
      padding-bottom: 32px;
    }
  }
  .activities {
    h2 {
      font-size: 3rem;
      line-height: 62px;
      text-align: left;
    }
    .list {
      padding-top: 32px;
    }
    &__items {
      flex-direction: column;
      &:nth-child(even) {
        flex-direction: column;
        .content {
          padding: 20px 0 20px 0;
        }
      }
      .img-act {
        width: 100%;
      }
      .content {
        width: 100%;
        padding: 20px 0 20px 0;
      }
    }
  }
}
